<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('修改物理安全情况')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <strong>基本信息</strong></br>

        <form class="form-horizontal m" id="form-physecsys-edit" th:object="${phySecSys}">
            <input name="uuid" id="getUuid" th:field="*{uuid}" type="hidden">
            <div class="form-group">
                <span>系统名称：</span>
                <span th:text="*{systemname}" id="systemname"></span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>采取物理安全的具体措施：</span>
                <span th:text="*{specificmeasure}"></span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>未采取物理安全措施的原因：</span>
                <span th:text="*{reason}"></span>
            </div>
            <div class="form-group">
                <span>机柜数量：</span>
                <span th:text="*{cabinetnum}"></span>
            </div>
            <hr>
        </form>

        <hr>
        <strong>涉及机柜列表</strong></br>
        <form id="formForSearch">
            <div ><input type="text"  name="systemuuid" id="systemuuid" style="display:none "/></div>
        </form>
        <div class="btn-group-sm" id="toolbar" role="group">
        </div>
        <div class="col-sm-12 table-striped">
            <table id="bootstrap-table"></table>
            <hr>
        </div>

        <hr >
        <strong>附件列表</strong></br>
        <div class="btn-group-sm" id="toolbar2" role="group">

        </div>
        <div class="col-sm-12 table-striped">
            <table id="bootstrap-table2"></table>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">

        var prefix = ctx + "system/physecsys";
        $("#form-physecsys-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
        }
        $(function() {
            cabinetList();
            annexList();
        });

        function cabinetList(){
            var prefix = ctx + "system/physeccabinet";
            var options = {
                id:"bootstrap-table",
                toolbar:"toolbar",
                url: prefix + "/list",
                createUrl: prefix + "/add/"+$("#getUuid").val(),
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                showRefresh:false,//刷新
                showSearch:false,//查询
                showColumns:false,//列显示选择
                showToggle:false,//视图转换
                modalName: "物理安全情况涉及机柜",
                columns: [{
                    checkbox: false
                },
                    {
                        title: '系统名称',
                        formatter: function(value, row, index) {
                            var actions = [];
                            actions.push('<span>'+$("#systemname").val()+'</span>');
                            return actions.join('');
                        }
                    },
                    {
                        field: 'room',
                        title: '机房'
                    },
                    {
                        field: 'cabinet',
                        title: '机柜'
                    },
                ]
            }
            $.table.init(options);
            $("#systemuuid").val($("#getUuid").val());
            $.table.search("formForSearch");
        }

        //列表2
        function annexList(){
            var prefix = ctx + "system/physecannex";
            var options2 = {
                id:"bootstrap-table2",
                toolbar:"toolbar2",
                url: prefix + "/list",
                createUrl: prefix + "/add/"+$("#getUuid").val(),
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                showRefresh:false,//刷新
                showSearch:false,//查询
                showColumns:false,//列显示选择
                showToggle:false,//视图转换
                modalName: "物理安全情况附件",
                columns: [{
                    checkbox: false
                },
                    {
                        field : 'uuid',
                        title : '主键',
                        visible: false
                    },
                    {
                        field : 'annex',
                        title : '附件名称',
                    },
                    {
                        title: '下载操作',
                        align: 'center',
                        formatter: function(value, row, index) {
                            var actions = [];
                            actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="downloadFile(\'' + row.uuid + '\')"><i class="fa fa-download"></i>下载</a> ');
                            return actions.join('');
                        }
                    }]
            };
            $.table.init(options2);
            //$("#systemuuid").val($("#getUuid").val());
            $.table.search("formForSearch");
        }
        function downloadFile(uuid){
            window.location.href = prefix + "/download/" + uuid;
        }
    </script>
</body>
</html>