<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="UTF-8">
<head>
    <th:block th:include="include :: header('修改责任书和保密协议签署情况')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <strong>基础信息</strong></br>
        <hr>
        <form class="form-horizontal m" id="form-sign-edit" th:object="${lettersSign}">
            <input id="getUuid" name="uuid" th:field="*{uuid}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">人员：</label>
                <div class="col-sm-8">
                    <input name="personName" th:field="*{personName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">归属公司：</label>
                <div class="col-sm-8">
                    <input name="company" th:field="*{company}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">归属部门：</label>
                <div class="col-sm-8">
                    <input name="department" th:field="*{department}" class="form-control" type="text">
                </div>
            </div>

        </form>
        <div class="form-group">
        <hr>
        <strong>保密协议列表</strong></br>
        <div class="btn-group-sm" id="toolbar1" role="group">
            <a class="btn btn-success" onclick="$.operate.add()">
                <i class="fa fa-plus"></i> 添加
            </a>
        </div>
        <div class="col-sm-12 table-striped">
            <table id="bootstrap-table1"></table>
        </div>
        </div>
        <div class="form-group">
        <hr >
        <strong>安全责任书列表</strong></br>
        <div class="btn-group-sm" id="toolbar2" role="group">
            <a class="btn btn-success" onclick="$.operate.add()">
                <i class="fa fa-plus"></i> 添加
            </a>
        </div>
        <div class="col-sm-12 table-striped">
            <table id="bootstrap-table2"></table>
        </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "system/sign";
        $("#form-sign-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-sign-edit').serialize());
            }
        }

        $(function() {
            secretLettersList();
            respLettersList();
        });

        function secretLettersList(){
            var options = {
                id:"bootstrap-table1",
                toolbar:"toolbar1",
                url: prefix + "/secretLettersList/"+$("#getUuid").val(),
                createUrl: prefix + "/uploadPage/"+$("#getUuid").val()+"/secretLetters",
                showRefresh:false,//刷新
                showSearch:false,//查询
                showColumns:false,//列显示选择
                showToggle:false,//视图转换
                modalName: "保密协议",
                columns: [{
                    checkbox: true
                },
                    {
                        field: 'fileName',
                        title: '文件名'
                    },
                    {
                        field: 'filePath',
                        title: '文件预览',
                        formatter: function(value, row, index) {
                            console.log("/upload/"+encodeURI(value));
                            return $.table.imageView("/upload/"+encodeURI(value));
                            //非全屏下图片宽度应750
                            //return $.table.imageView("/uploadImage/"+encodeURI(value),null,750,null);
                            //return '<img src="' + value + '" width="150" height="100">';

                        }
                    },
                    {
                        title: '操作',
                        align: 'center',
                        formatter: function (value, row, index) {
                            var actions = [];
                            //actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="downloadFile(\'' + row.filePath + '\')"><i class="fa fa-edit"></i>下载</a> ');
                            actions.push('<a class="btn btn-danger btn-xs " href="javascript:void(0)" onclick="deletefile(\'' + row.filePath + '\')"><i class="fa fa-remove"></i>删除</a>');
                            return actions.join('');
                        }
                    }
                ]
            }
            $.table.init(options);
        }

        //列表2
        function respLettersList(){
                var options2 = {
                id:"bootstrap-table2",
                toolbar:"toolbar2",
                url: prefix + "/respLettersList/"+$("#getUuid").val(),
                createUrl: prefix + "/uploadPage/"+$("#getUuid").val()+"/respLetters",
                showRefresh:false,//刷新
                showSearch:false,//查询
                showColumns:false,//列显示选择
                showToggle:false,//视图转换
                modalName: "保密协议",
                columns: [{
                    checkbox: true
                },
                    {
                        field: 'fileName',
                        title: '文件名'
                    },
                    {
                        field: 'filePath',
                        title: '文件预览',
                        formatter: function(value, row, index) {
                            console.log("/upload/"+encodeURI(value));
                            return $.table.imageView("/upload/"+encodeURI(value));
                        }
                    },
                    {
                        title: '操作',
                        align: 'center',
                        formatter: function (value, row, index) {
                            var actions = [];
                            //actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="downloadFile(\'' + row.filePath + '\')"><i class="fa fa-edit"></i>下载</a> ');
                            actions.push('<a class="btn btn-danger btn-xs " href="javascript:void(0)" onclick="deletefile(\'' + row.filePath + '\')"><i class="fa fa-remove"></i>删除</a>');
                            return actions.join('');
                        }
                    }
                ]
            }
            $.table.init(options2);
        }

        function deletefile(filePath){
            table.set();
            $.modal.confirm("确定删除该条" + table.options.modalName + "信息吗？", function() {
                var url = prefix + "/removeFile";
                if(table.options.type == table_type.bootstrapTreeTable) {
                    $.operate.get(url);
                } else {
                    var data = { "filePath": filePath };
                    $.operate.submit(url, "post", "json", data);
                }
                if (typeof callback == "function") {
                    callback();
                }
            });
            //旧版ajax方式无删除提示，因此舍弃
            /*$.ajax({
                url: prefix + "/removeFile",
                type: 'post',
                data: {filePath:filePath},
                dataType: "json",
                success: function(result) {
                    $.operate.ajaxSuccess(result);
                }
            });*/
        }
        function downloadFile(filePath){
            window.location.href = prefix + "/download/" + encodeURI(filePath);
        }
    </script>
</body>
</html>