<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('人员权限申请记录稽核表列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>人员名单：</p>
                                <input type="text" name="person"/>
                            </li>
                            <li class="select-time">
                                <p>录入时间：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.addTab()" shiro:hasPermission="system:authapplyaudit:add">
                    <i class="fa fa-plus"></i> 新增
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.editTab()" shiro:hasPermission="system:authapplyaudit:edit">
                    <i class="fa fa-edit"></i> 编辑
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:authapplyaudit:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:authapplyaudit:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:authapplyaudit:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:authapplyaudit:remove')}]];
        var prefix = ctx + "system/authapplyaudit";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "人员权限申请记录稽核表",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'uuid',
                    visible : false
                },
                {
                    field : 'person', 
                    title : '人员名单'
                },
                {
                    field : 'systemAuth', 
                    title : '系统权限'
                },
                {
                    field : 'appAuth', 
                    title : '应用权限'
                },
                {
                    field : 'authApplyRec', 
                    title : '是否具备正式权限申请审批记录'
                },
                {
                    field : 'authApplyImg', 
                    title : '申请审批记录证明截图',
                    formatter: function (value, row, index) {
                        return $.table.imageView(value,150,200,null);
                    }
                },
                {
                    field : 'remark', 
                    title : '备注'
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>