<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('外送数据接口审计列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <p>审计人员：</p>
                            <input type="text" name="auditor"/>
                        </li>
                        <li>
                            <p>系统名称：</p>
                            <input type="text" name="systemName"/>
                        </li>
                        <li class="select-time">
                            <p>时间：</p>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i> 搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i> 重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.addTab()" shiro:hasPermission="system:auditoutgoingdata:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.editTab()" shiro:hasPermission="system:auditoutgoingdata:edit">
                <i class="fa fa-edit"></i> 编辑
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:auditoutgoingdata:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-success single disabled" onclick="$.operate.detail()" shiro:hasPermission="system:auditoutgoingdata:detail">
                <i class=""></i> 详情
            </a>
            <a class="btn btn-info" onclick="$.table.importExcel()" shiro:hasPermission="system:auditoutgoingdata:import">
                <i class="fa fa-upload"></i> 导入
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:auditoutgoingdata:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:auditoutgoingdata:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:auditoutgoingdata:remove')}]];
    var prefix = ctx + "system/auditoutgoingdata";

    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            detailUrl: prefix + "/detail/{id}",
            importUrl: prefix + "/importData",
            importTemplateUrl: prefix + "/importTemplate",
            exportUrl: prefix + "/export",
            modalName: "外送数据接口审计",
            columns: [{
                checkbox: true
            },
                {
                    field : 'uuid',
                    title : '主键',
                    visible: false
                },
                {
                    field : 'auditor',
                    title : '审计人员'
                },
                {
                    field : 'systemName',
                    title : '系统名称'
                },
                {
                    field : 'auditContent',
                    title : '审计内容'
                },
                {
                    field : 'contentCategory',
                    title : '内容分类'
                },
                {
                    field : 'auditPoint',
                    title : '审计要点'
                },
                {
                    field : 'systemOverview',
                    title : '系统概况'
                },
                {
                    field : 'netStruts',
                    title : '网络结构',
                    formatter: function (value, row, index) {
                        if(value != null && value != ""){
                            return $.table.imageView(value,150,200,null);
                        }
                    }
                },
                {
                    field : 'systemTransportSafe',
                    title : '系统间传输安全'
                },
                {
                    field : 'dataStorageSafe',
                    title : '数据存储安全'
                },
                {
                    field : 'dataAccessSafe',
                    title : '数据访问安全'
                },
                {
                    field : 'auditSummary',
                    title : '审计总结'
                },
                {
                    field : 'createTime',
                    title : '创建时间'
                },
                {
                    field : 'createUserid',
                    title : '创建用户id'
                },
                {
                    field : 'modifyTime',
                    title : '修改时间'
                },
                {
                    field : 'modifyUserid',
                    title : '修改用户'
                },
                {
                    field : 'logicdelete',
                    title : '是否逻辑删除'
                },
                {
                    field : 'groupuuid',
                    title : '所属资源组'
                }]
        };
        $.table.init(options);
    });
</script>
</body>
<!-- 导入区域 -->
<script id="importTpl" type="text/template">
    <form enctype="multipart/form-data" class="mt20 mb10">
        <div class="col-xs-offset-1">
            <input type="file" id="file" name="file"/>
            <div class="mt10 pt5">
                <input type="checkbox" id="updateSupport" name="updateSupport" title="如果登录账户已经存在，更新这条数据。"> 是否更新已经存在的用户数据
                &nbsp;	<a onclick="$.table.importTemplate()" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i> 下载模板</a>
            </div>
            <font color="red" class="pull-left mt10">
                提示：仅允许导入“xls”或“xlsx”格式文件！
            </font>
        </div>
    </form>
</html>
